/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    width: 100%;
}

main {
    flex: 1;
    padding: 2em;
    text-align: center;
}

#prix-container {
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 1em;
}

form {
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 1em;
    text-align: left;
}

form div {
    margin-bottom: 0.5em;
}

label {
    display: block;
    margin-bottom: 0.2em;
}

input[type="number"] {
    width: calc(100% - 10px);
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

